version: 2
updates:
  - package-ecosystem: "composer"
    directory: "/"
    schedule:
      interval: "monthly"
    ignore:
      - dependency-name: "phpunit/phpunit"
        update-types: ["version-update:semver-major"]

      - dependency-name: "phpstan/phpstan"
        update-types: ["version-update:semver-major"]

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"

  - package-ecosystem: "docker"
    directory: "/.devcontainer/workspace/"
    schedule:
      interval: "monthly"
    ignore:
      - dependency-name: "php"
        update-types: ["version-update:semver-minor"]

  - package-ecosystem: "docker-compose"
    directories:
      - "/.ci/"
      - "/.devcontainer/"
    schedule:
      interval: "monthly"
    groups:
      go-httpbin:
        patterns:
          - "mccutchen/go-httpbin"
