version: 2
updates:
  - package-ecosystem: "composer"
    directory: "/"
    schedule:
      interval: "weekly"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
  - package-ecosystem: "docker"
    directory: "/.devcontainer/workspace/"
    schedule:
      interval: "weekly"
    ignore:
      - dependency-name: "php:8.1-alpine3.17"
        versions: ["8.2"]
