version: "3"

services:
  ntfy:
    container_name: ci_ntfy
    image: binwiederhier/ntfy:v1.13.0
    volumes:
     - './server.yml:/etc/ntfy/server.yml'
    ports:
      - "127.0.0.1:8080:80"

  httpbin:
    container_name: ci_httpbin
    image: kennethreitz/httpbin
    ports:
      - "127.0.0.1:8081:80"
