version: "3"

services:
  ntfy:
    container_name: ci_ntfy
    image: binwiederhier/ntfy:v2.16.0
    command: serve
    volumes:
     - './ntfy/server.yml:/etc/ntfy/server.yml'
    ports:
      - "127.0.0.1:8080:80"

  httpbin:
    container_name: ci_httpbin
    image: mccutchen/go-httpbin:2.19.0
    command: ["go-httpbin", "-port", "80"]
    ports:
      - "127.0.0.1:8081:80"
