services:
  workspace:
    container_name: php_workspace
    build:
      context: ./workspace
    tty: true
    volumes:
      - ../:/ntfy-php-library
      - vendor:/ntfy-php-library/vendor
    working_dir: /ntfy-php-library
    environment:
      - NTFY_URI=${NTFY_URI}
      - HTTPBIN_URI=${HTTPBIN_URI}
      - XDEBUG_MODE=coverage

  ntfy:
    container_name: ntfy
    image: binwiederhier/ntfy:v2.13.0
    command: serve
    volumes:
     - '../.ci/ntfy/server.yml:/etc/ntfy/server.yml'
     - '../.ci/ntfy/user.db:/etc/ntfy/user.db'
    ports:
      - "127.0.0.1:8080:80"

  httpbin:
    container_name: httpbin
    image: mccutchen/go-httpbin:2.18.3
    command: ["go-httpbin", "-port", "80"]
    ports:
      - "127.0.0.1:8081:80"

volumes:
  vendor:
