name: Code quality

on:
  pull_request:
    paths:
      - "**.php"
      - "phpcs.xml"
      - ".github/workflows/code-quality.yml"
  push:
    branches: [main]
    paths:
      - "**.php"
      - "phpcs.xml"
      - ".github/workflows/code-quality.yml"

jobs:
  phpstan:
    runs-on: ubuntu-22.04
    steps:
    - name: Checkout code
      uses: actions/checkout@v3.2.0

    - name: Setup PHP
      uses: shivammathur/setup-php@2.22.0
      with:
        php-version: '8.0'

    - name: "Validate composer.json and composer.lock"
      run: "composer validate --strict"

    - name: Install dependencies with composer
      run: composer install --prefer-dist

    - name: Run PHPStan
      run: ./vendor/bin/phpstan analyse

  phpcs:
    runs-on: ubuntu-22.04
    steps:
    - name: Checkout code
      uses: actions/checkout@v3.2.0

    - name: Setup PHP
      uses: shivammathur/setup-php@2.22.0
      with:
        php-version: '8.0'
        tools: cs2pr

    - name: Install dependencies with composer
      run: composer install --prefer-dist

    - name: Run phpcs
      run: ./vendor/bin/phpcs . --report=checkstyle | cs2pr

  php-cs-fixer:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v3.2.0

      - name: Setup PHP
        uses: shivammathur/setup-php@2.22.0
        with:
          php-version: '8.0'

      - name: Install dependencies with composer
        run: composer install --prefer-dist

      - name: Run php-cs-fixer
        run:  ./vendor/bin/php-cs-fixer fix --dry-run
