name: Code quality

on:
  pull_request:
    paths:
      - "**.php"
      - "phpcs.xml"
      - ".github/workflows/code-quality.yml"
  push:
    branches: [main]
    paths:
      - "**.php"
      - "phpcs.xml"
      - ".github/workflows/code-quality.yml"

permissions:
  contents: read

jobs:
  phpstan:
    runs-on: ubuntu-22.04
    steps:
    - name: Checkout code
      uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7

    - name: Setup PHP
      uses: shivammathur/setup-php@c665c7a15b5295c2488ac8a87af9cb806cd72198 # v2.30.4
      with:
        php-version: '8.1'
        coverage: none

    - name: "Validate composer.json and composer.lock"
      run: "composer validate --strict"

    - name: Install dependencies with composer
      run: composer install --prefer-dist

    - name: Run PHPStan
      run: ./vendor/bin/phpstan analyse

  phpcs:
    runs-on: ubuntu-22.04
    steps:
    - name: Checkout code
      uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7

    - name: Setup PHP
      uses: shivammathur/setup-php@c665c7a15b5295c2488ac8a87af9cb806cd72198 # v2.30.4
      with:
        php-version: '8.1'
        coverage: none
        tools: cs2pr

    - name: Install dependencies with composer
      run: composer install --prefer-dist

    - name: Run phpcs
      run: composer lint-phpcs-action
