name: Code quality

on:
  pull_request:
    paths:
      - "**.php"
      - "phpcs.xml"
      - ".github/workflows/code-quality.yml"
  push:
    branches: [main]
    paths:
      - "**.php"
      - "phpcs.xml"
      - ".github/workflows/code-quality.yml"

permissions:
  contents: read

jobs:
  phpstan:
    runs-on: ubuntu-22.04
    steps:
    - name: Checkout code
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

    - name: Setup PHP
      uses: shivammathur/setup-php@44454db4f0199b8b9685a5d763dc37cbf79108e1 # v2.36.0
      with:
        php-version: '8.2'
        coverage: none

    - name: "Validate composer.json and composer.lock"
      run: "composer validate --strict"

    - name: Install dependencies with composer
      run: composer install --prefer-dist

    - name: Run PHPStan
      run: ./vendor/bin/phpstan analyse

  phpcs:
    runs-on: ubuntu-22.04
    steps:
    - name: Checkout code
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

    - name: Setup PHP
      uses: shivammathur/setup-php@44454db4f0199b8b9685a5d763dc37cbf79108e1 # v2.36.0
      with:
        php-version: '8.2'
        coverage: none
        tools: cs2pr

    - name: Get composer cache directory
      id: composer-cache
      shell: bash
      run: |
        echo "dir=$(composer config cache-files-dir)" >> "$GITHUB_OUTPUT"

    - name: Cache composer cache directory
      uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
      with:
        path: ${{ steps.composer-cache.outputs.dir }}
        key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
        restore-keys: ${{ runner.os }}-composer-

    - name: Install dependencies with composer
      run: composer install --prefer-dist

    - name: Run phpcs
      run: composer lint-phpcs-action
