name: Tests
on:
  pull_request:
    paths:
      - "**.php"
      - ".github/workflows/test.yml"
      - ".ci/docker-compose.yml"
      - ".ci/ntfy-server.yml"
  push:
    branches: [main]
    paths:
      - "**.php"
      - ".github/workflows/test.yml"
      - ".ci/docker-compose.yml"
      - ".ci/ntfy-server.yml"

permissions:
  contents: read

jobs:
  test:
    name: PHPUnit
    runs-on: ubuntu-22.04
    env:
      COMPOSE_FILE: .ci/docker-compose.yml
      NTFY_URI: "http://127.0.0.1:8080"
      HTTPBIN_URI: "http://127.0.0.1:8081"

    steps:
    - name: Checkout code
      uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1

    - name: Setup PHP
      uses: shivammathur/setup-php@81cd5ae0920b34eef300e1775313071038a53429 # v2.27.0
      with:
        php-version: '8.1'
        coverage: none
        extensions: mbstring
    
    - name: Setup problem matchers for PHP
      run: echo "::add-matcher::${{ runner.tool_cache }}/php.json"

    - name: Setup problem matchers for PHPUnit
      run: echo "::add-matcher::${{ runner.tool_cache }}/phpunit.json"

    - name: "Validate composer.json and composer.lock"
      run: "composer validate --strict"

    - name: Install dependencies with composer
      run: composer install --prefer-dist

    - name: Start ntfy & httpbin docker containers
      run: docker-compose up -d

    - name: Test connections to docker containers
      run: bash .ci/scripts/test-connections.sh

    - name: Run phpunit
      run: ./vendor/bin/phpunit

    - name: Stop ntfy & httpbin docker docker containers
      run: docker-compose down
